---
http_interactions:
- request:
    method: get
    uri: https://packages.cinc.sh/api/v1/stable/cinc/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 20 Mar 2026 17:23:45 GMT
      Etag:
      - '"6eab-64d77f27dd9db"'
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "properties": [
                {
                  "key": "omnibus.version",
                  "value": "15.1.36"
                }
              ],
              "artifacts": [
                {
                  "builds": [
                    {
                      "build.number": "15.1.36"
                    }
                  ]
                }
              ]
            },
            {
              "properties": [
                {
                  "key": "omnibus.version",
                  "value": "15.10.12"
                }
              ],
              "artifacts": [
                {
                  "builds": [
                    {
                      "build.number": "15.10.12"
                    }
                  ]
                }
           [...]
- request:
    method: get
    uri: https://packages.cinc.sh/api/v1/stable/cinc/19.2.12/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 20 Mar 2026 17:23:45 GMT
      Etag:
      - '"a40f-64d77f27e56db"'
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "name": "cinc-19.2.12-1.amazon2023.aarch64.rpm",
              "properties": [
                {
                  "key": "omnibus.project",
                  "value": "cinc"
                },
                {
                  "key": "omnibus.version",
                  "value": "19.2.12"
                },
                {
                  "key": "omnibus.architecture",
                  "value": "aarch64"
                },
                {
                  "key": "omnibus.license",
          [...]
- request:
    method: get
    uri: https://packages.cinc.sh/files/stable/cinc/19.2.12/amazon/2023/cinc-19.2.12-1.amazon2023.aarch64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2026 22:28:15 GMT
      Etag:
      - '"d9d9-64d53f7c87dc0"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "cinc-19.2.12-1.amazon2023.aarch64.rpm",
          "md5": "ad45db8657e9ea07f3edb7a5202f816c",
          "sha1": "f9678989c52a779e4108333d163f8d170ab81966",
          "sha256": "bd4358722291a1143d454554b2a0150fe0887220babb472deb555421fd4374ab",
          "sha512": "b69d5c20a82b90c4cc256acc87f33d837eec9ad6423d73a8a25e577d0f863149d2ff06b646db94988527e0a1ef968a5aae952339b2846235455fc640c2a3208f",
          "platform": "amazon",
          "platform_version": "2023",
          "arch": "aarch64",
          "name": "cinc",
          "friendly_name": "Cinc Client",
          "homepage": "https://www.cinc.sh",
          "version": "19.2.12",
          "iteration": 1,
          "license": "Apache-2.0",
          "version_manifest": {
            "manifest_format": 2,
            "software": {
              "preparation": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "zlib": {
                "locked_version": "1.3.2",
                "locked_source": {
                  "sha256": "bb329a0a2cd0274d05519d61c667c062e06990d72e125ee2dfa8de64f0119d16",
                  "url": "https://zlib.net/fossils/zlib-1.3.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.3.2",
                "license": "Zlib"
              },
              "cacerts": {
                "locked_version": "2025-12-02",
                "locked_source": {
                  "url": "https://curl.se/ca/cacert-2025-12-02.pem",
                  "sha256": "f1407d974c5ed87d544bd931a278232e13925177e239fca370619aba63c757b4"
                },
                "source_type": "url",
                "described_version": "2025-12-02",
                "license": "MPL-2.0"
              },
              "openssl": {
                "locked_version": "3.5.4",
                "locked_source": {
                  "url": "https://www.openssl.org/source/openssl-3.5.4.tar.gz",
                  "extract": "lax_tar",
                  "sha256": "967311f84955316969bdb1d8d4b983718ef42338639c621ec4c34fddef355e99"
                },
                "source_type": "url",
                "described_version": "3.5.4",
                "license": "OpenSSL"
              },
              "libffi": {
                "locked_version": "3.5.2",
                "locked_source": {
                  "sha256": "f3a3082a23b37c293a4fcd1053147b371f2ff91fa7ea1b2a52e335676bac82dc",
                  "url": "https://github.com/libffi/libffi/releases/download/v3.5.2/libffi-3.5.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.5.2",
                "license": "MIT"
              },
              "config_guess": {
                "locked_version": "84f04b02a7e2fc8eaa9d52deee5f6d57b06fe447",
                "locked_source": {
                  "git": "https://github.com/chef/config-mirror.git"
                },
                "source_type": "git",
                "described_version": "master",
                "license": "GPL-3.0 (with exception)"
              },
              "libyaml": {
                "locked_version": "0.2.5",
                "locked_source": {
                  "sha256": "c642ae9b75fee120b2d96c712538bd2cf283228d2337df2cf2988e3c02678ef4",
                  "url": "https://pyyaml.org/download/libyaml/yaml-0.2.5.tar.gz"
                },
                "source_type": "url",
                "described_version": "0.2.5",
                "license": "MIT"
              },
              "ruby": {
                "locked_version": "3.4.8",
                "locked_source": {
                  "sha256": "53c4ddad41fbb6189f1f5ee0db57a51d54bd1f87f8755b3d68604156a35b045b",
                  "url": "https://cache.ruby-lang.org/pub/ruby/3.4/ruby-3.4.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.4.8",
                "license": "BSD-2-Clause"
              },
              "liblzma": {
                "locked_version": "5.8.2",
                "locked_source": {
                  "sha256": "ce09c50a5962786b83e5da389c90dd2c15ecd0980a258dd01f70f9e7ce58a8f1",
                  "url": "https://tukaani.org/xz/xz-5.8.2.tar.gz"
                },
                "source_type": "url",
                "described_version": "5.8.2",
                "license": "Public-Domain"
              },
              "libxml2": {
                "locked_version": "2.15.2",
                "locked_source": {
                  "sha256": "c8b9bc81f8b590c33af8cc6c336dbff2f53409973588a351c95f1c621b13d09d",
                  "url": "https://download.gnome.org/sources/libxml2/2.15/libxml2-2.15.2.tar.xz"
                },
                "source_type": "url",
                "described_version": "2.15.2",
                "license": "MIT"
              },
              "bzip2": {
                "locked_version": "1.0.8",
                "locked_source": {
                  "sha256": "ab5a03176ee106d3f0fa90e381da478ddae405918153cca248e682cd0c4a2269",
                  "url": "https://fossies.org/linux/misc/bzip2-1.0.8.tar.gz"
                },
                "source_type": "url",
                "described_version": "1.0.8",
                "license": "BSD-2-Clause"
              },
              "libarchive": {
                "locked_version": "3.8.6",
                "locked_source": {
                  "sha256": "213269b05aac957c98f6e944774bb438d0bd168a2ec60b9e4f8d92035925821c",
                  "url": "https://github.com/libarchive/libarchive/releases/download/v3.8.6/libarchive-3.8.6.tar.gz"
                },
                "source_type": "url",
                "described_version": "3.8.6",
                "license": "BSD-2-Clause"
              },
              "libxslt": {
                "locked_version": "1.1.45",
                "locked_source": {
                  "sha256": "9acfe68419c4d06a45c550321b3212762d92f41465062ca4ea19e632ee5d216e",
                  "url": "https://download.gnome.org/sources/libxslt/1.1/libxslt-1.1.45.tar.xz"
                },
                "source_type": "url",
                "described_version": "1.1.45",
                "license": "MIT"
              },
              "chef": {
                "locked_version": "local_source",
                "locked_source": {
                  "path": "/builds/cinc-project/distribution/client/chef/omnibus/files/../..",
                  "options": {
                    "exclude": [
                      "omnibus/vendor"
                    ]
                  }
                },
                "source_type": "path",
                "described_version": "local_source",
                "license": "Apache-2.0"
              },
              "nokogiri": {
                "locked_version": "1.19.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.19.1",
                "license": "MIT"
              },
              "gem-permissions": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "shebang-cleanup": {
                "locked_version": "0.0.2",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.2",
                "license": "project_license"
              },
              "version-manifest": {
                "locked_version": "0.0.1",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "0.0.1",
                "license": "project_license"
              },
              "openssl-customization": {
                "locked_version": null,
                "locked_source": {
                  "path": "/builds/cinc-project/distribution/client/chef/omnibus/files/openssl-customization"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              },
              "ruby-cleanup": {
                "locked_version": "1.0.0",
                "locked_source": null,
                "source_type": "project_local",
                "described_version": "1.0.0",
                "license": "project_license"
              },
              "more-ruby-cleanup": {
                "locked_version": null,
                "locked_source": {
                  "path": "/builds/cinc-project/distribution/client/chef/omnibus/files/more-ruby-cleanup"
                },
                "source_type": "path",
                "described_version": null,
                "license": "project_license"
              }
            },
            "build_version": "19.2.12",
            "build_git_revision": "52ee642223115f86afcd95f962e2f3b4c6cdc336",
            "license": "Apache-2.0"
          },
          "license_content": "cinc 19.2.12 license: \"Apache-2.0\"\n\n                              Apache License\n                        Version 2.0, January 2004\n                     http://www.apache.org/licenses/\n\nTERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION\n\n1. Definitions.\n\n   \"License\" shall mean the terms and conditions for use, reproduction,\n   and distribution as defined by Sections 1 through 9 of this document.\n\n   \"Licensor\" shall mean the copyright owner or entity authorized by\[...]
- request:
    method: get
    uri: https://packages.cinc.sh/files/stable/cinc/19.2.12/amazon/2023/cinc-19.2.12-1.amazon2023.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2026 22:17:49 GMT
      Etag:
      - '"d9d7-64d53d2787d40"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
         [...]
- request:
    method: get
    uri: https://packages.cinc.sh/files/stable/cinc/19.2.12/debian/12/cinc_19.2.12-1_amd64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2026 22:17:58 GMT
      Etag:
      - '"d9c9-64d53d301d180"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "[...]
- request:
    method: get
    uri: https://packages.cinc.sh/files/stable/cinc/19.2.12/debian/12/cinc_19.2.12-1_arm64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2026 22:34:05 GMT
      Etag:
      - '"d9ca-64d540ca51140"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "basename": "[...]
- request:
    method: get
    uri: https://packages.cinc.sh/files/stable/cinc/19.2.12/debian/13/cinc_19.2.12-1_riscv64.deb.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 19 Mar 2026 03:05:54 GMT
      Etag:
      - '"d9cc-64d57d8bca880"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "basename":[...]
- request:
    method: get
    uri: https://packages.cinc.sh/files/stable/cinc/19.2.12/el/10/cinc-19.2.12-1.el10.aarch64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2026 22:36:46 GMT
      Etag:
      - '"d9cd-64d54163dbb80"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "basename"[...]
- request:
    method: get
    uri: https://packages.cinc.sh/files/stable/cinc/19.2.12/el/10/cinc-19.2.12-1.el10.ppc64le.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2026 22:22:43 GMT
      Etag:
      - '"d9cd-64d53e3fe92c0"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "basename"[...]
- request:
    method: get
    uri: https://packages.cinc.sh/files/stable/cinc/19.2.12/el/10/cinc-19.2.12-1.el10.s390x.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2026 22:29:08 GMT
      Etag:
      - '"d9c9-64d53faf13500"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "basename": [...]
- request:
    method: get
    uri: https://packages.cinc.sh/files/stable/cinc/19.2.12/el/10/cinc-19.2.12-1.el10.x86_64.rpm.metadata.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 18 Mar 2026 22:13:14 GMT
      Etag:
      - '"d9cb-64d53c2145280"'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "basename":[...]
[...]
