---
http_interactions:
- request:
    method: get
    uri: https://packages.cinc.sh/api/v1/stable/cinc/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 20 Mar 2026 17:23:45 GMT
      Etag:
      - '"6eab-64d77f27dd9db"'
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "properties": [
                {
                  "key": "omnibus.version",
                  "value": "15.1.36"
                }
              ],
              "artifacts": [
                {
                  "builds": [
                    {
                      "build.number": "15.1.36"
                    }
                  ]
                }
              ]
            },
            {
              "properties": [
                {
                  "key": "omnibus.version",
                  "value": "15.10.12"
                }
              ],
              "artifacts": [
                {
                  "builds": [
                    {
                      "build.number": "15.10.12"
                    }
                  ]
                }
           [...]
