---
http_interactions:
- request:
    method: get
    uri: https://packages.cinc.sh/api/v1/stable/cinc-server/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 01 Mar 2026 02:43:45 GMT
      Etag:
      - '"1b6f-64bed70661c0b"'
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "properties": [
                {
                  "key": "omnibus.version",
                  "value": "14.14.1"
                }
              ],
              "artifacts": [
                {
                  "builds": [
                    {
                      "build.number": "14.14.1"
                    }
                  ]
                }
              ]
            },
            {
              "properties": [
                {
                  "key": "omnibus.version",
                  "value": "14.15.10"
                }
              ],
              "artifacts": [
                {
                  "builds": [
                    {
                      "build.number": "14.15.10"
                    }
                  ]
                }
           [...]
- request:
    method: get
    uri: https://packages.cinc.sh/api/v1/stable/cinc-server/15.10.91/artifacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 01 Mar 2026 02:43:45 GMT
      Etag:
      - '"2af0-64bed70662f93"'
    body:
      encoding: UTF-8
      string: |-
        {
          "results": [
            {
              "name": "cinc-server-core-15.10.91-1.amazon2023.x86_64.rpm",
              "properties": [
                {
                  "key": "omnibus.project",
                  "value": "cinc-server"
                },
                {
                  "key": "omnibus.version",
                  "value": "15.10.91"
                },
                {
                  "key": "omnibus.architecture",
                  "value": "x86_64"
                },
                {
                  "key": "omnibus.l[...]
